
.header {
    z-index: 5;
    background-image: url('/public/2148457829.jpg'); /* 업로드한 이미지 경로 */
    background-size: cover;
    background-position: center;
    height: 80vh;
    clip-path: ellipse(80% 100% at 50% 0%); /* 곡선 모양을 정의 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    margin-left: 1rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;  
    padding : 10px 10px;
    text-decoration-line: none;
    
}

.logoText {
        font-size: 3em;
        color: #A24F63;
        font-weight: 1000;      
}